<h1> You (played) <%= @move %> </h1>

<h1>
  The computer played
  <%= computer_move =["rock", "paper", "scissors"].sample
    computer_move
  %>
  <%  if computer_move = "rock" %>
  You win!
  <% elsif computer_move = "paper" %>
  You tied!
  <% else %>
  You lose!
  <% end %>

</h1>
